@import url('/css/fonts.css');


:root {
  --white: #FFFFFF;
  --black: #000000;
  --yellow: #FFB800;
  --green: #90A583;
  --greenTitle: #51733C;
  --pageBackground: #ece8e2;
  --cardBackground: #E3DFD8;
  --avenir: '"Avenir", sans-serif';
  --sohne: '"Sohne-Leicht", sans-serif';
}

body {
  background-color: var(--pageBackground);
  color: var(--black);
  margin: 0;
  list-style: none;
  opacity: 0;
  -webkit-animation: showBody 2s forwards;
  animation: showBody 2s forwards;
  scroll-behavior: smooth;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.custom-yellow {
  color: var(--yellow);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, .5);
  transition: all .3s ease-in-out;
}

.underline-animation {
  height: 1px;
  margin-top: -2px;
  background-color: transparent;
}

a:hover .underline-animation {
  background-color: var(--black);
  animation: loadUnderline ease-out forwards 0.5s;
}
.section-title {
  font-family: Span Compressed;
  font-size: 64px;
  font-weight: 400;
  line-height: 77px;
  letter-spacing: -2px;
}
.enquire-now {
  padding: 8px 40px;
  font-family: Span Compressed;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-transform: capitalize;
  background-color: rgba(233,233,233,1);
  color: var(--black);
  border-radius: 65px;
  border: 2px solid var(--black);
  display: inline-block;
  transition: all .3s ease-in-out;
}
.enquire-now:hover {
  /* background-color: var(--black);
  color: var(--white);
  border: 2px solid var(--white); */

  box-shadow: 0px 6px 0px black;
  transform: translateY(-4px);
}

#imageBoxPopup {
  opacity: 0;
  -webkit-animation: showBody .5s forwards;
  animation: showBody .5s forwards;
}

#imageBoxPopup #closePopup {
  top: 8px;
  right: 8px;
}

.custom-container {
  width: 1200px;
}

.inbetween-line {
  width: 100%;
  height: 1px;
  opacity: 0;
  background-color: #FFFFFF;
}
body.white .inbetween-line {
  background-color: var(--black);
}
.animated-line {
  animation: loadLine 2s ease-out forwards;
}
.inbetween-line.animated-line {
  opacity: 1;
}

body.white .instagram-footer img{
  filter: brightness(0);
}

footer .inbetween-line {
  background-color: var(--black);
}

/*   H E A D E R   */
.header-logo {
  width: 60px;
}
#grand-room-header,
#broomly-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 32px 0;
  transition: all .3s ease-in;
}

#grand-room-header.scrolled,
#broomly-header.scrolled {
  background-color: var(--black); 
  padding: 16px 0 12px;
  border-bottom: 1px solid var(--white);
}
body.white #grand-room-header.scrolled,
body.white #broomly-header.scrolled {
  background-color: var(--white); 
  border-bottom: 1px solid var(--black);
}
#grand-room-header .menu-item,
#broomly-header .menu-item {
  margin: 0 40px;
}
#grand-room-header .menu-item a,
#broomly-header .menu-item a{
  font-family: 'Avenir';
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 8px 12px;
  display: inline-block;
}
#grand-room-header .menu-item-logo img,
#broomly-header .menu-item-logo img {
  transition: all .3s ease-in-out;
}
#grand-room-header .menu-item-logo:hover img,
#broomly-header .menu-item-logo:hover img{
  transform: scale(1.05);
}
#grand-room-header .experiences-nav,
#broomly-header .experiences-nav {
  background-color: var(--white);
}
#grand-room-header .experiences-nav a,
#broomly-header .experiences-nav a {
  margin: 0 16px;
  font-family: Span Compressed;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -2px;
  text-transform: uppercase;
  padding: 8px 12px;
  display: inline-block;
  color: var(--yellow);
}
#grand-room-header .experiences-nav a:hover .underline-animation,
#broomly-header .experiences-nav a:hover .underline-animation {
  background-color: var(--yellow);
}

.site-header .enquire-now{
  margin-left: auto;
  margin-right: 80px;
  font-size: 20px;
  padding: 6px 28px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: var(--black);
  color: var(--white);
  padding: 40px;
  transition: all .3s ease-in-out;
}
nav.open {
  animation: loadNav .5s ease-out forwards;
}

.burger-line {
  height: 4px;
  border-radius: 10px;
  background-color: var(--white);
  width: 40px;
  transition: all 0.5s ease-in-out;
}

.burger-line:nth-child(2) {
  margin: 10px 0;
}
.close-nav {
  top: 80px;
  left: 80px;
  cursor: pointer;
}
.close-nav .icon {
  width: 48px;
  height: 48px;
  position: relative;
}

.close-nav .icon::before,
.close-nav .icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 4px;
  border-radius: 30px;
  background-color: var(--white);
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-nav .icon::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.navigation .menu-item a{
  font-family: Span Compressed;
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  margin: 16px 0;
  padding: 12px 40px;
  display: inline-block;
  width: 100%;
}
.navigation .menu-item a > div {
  display: inline-block;
}

.navigation li a:hover .underline-animation{
  background-color: var(--white);
}



@keyframes loadLine {
  0% { width: 0%; opacity: 0; }
  40% { width: 0%; opacity: 1; }
  100% { width: 100%; }
}
@keyframes loadUnderline {
  0% { width: 0%; }
  20% { width: 0%; }
  100% { width: 100%; }
}
@keyframes showBody {
  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes showBody {
  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes loadNav {
  0% { opacity: 0;  display: flex;}
  100% { opacity: 1; display: flex;}
}

@-webkit-keyframes showBody {
  0% { opacity: 0;  display: flex;}
  100% { opacity: 1; display: flex;}
}


/*  F O O T E R  */


/*   L A N D I N G   P A G E   */

#landing {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
}
#landing .landing-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
}
#landing .landing-box img {
  width: 320px;
  z-index: 100;
  opacity: 0.7;
  transition: all .3s ease-in-out;
  backdrop-filter: brightness(1);
}
#landing  #landing-broomly img {
  width: 480px;
}
#landing .landing-box:hover {
  width: 55%;
}
#landing .landing-box:hover(:not(:hover)) {
  width: 45%;
}
#landing .landing-box:hover .overlay {
  background-color: rgb(0, 0, 0, 0.25);
}
#landing .landing-box > a:hover img{
  opacity: 1;
}
#the-grand-room-cover {
  position: relative;
  padding: 180px 0 20px;
}
#landing-lk-hospitality-logo {
  position: absolute;
  width: 60px;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s ease-in-out;
}
#landing-lk-hospitality-logo img {
  top: 20%;
}
#landing-broomly:hover ~ #landing-lk-hospitality-logo {
  left: 47.5%;
}
#landing-grand-room:hover ~ #landing-lk-hospitality-logo {
  left: 52.5%;
}



/*  A B O U T    P A G E  */
.cover-image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  position: relative;
  background-position: center;
}
#about .overlay {
  background-color: rgba(0,0,0,0.3);
}

.cover-text {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 50%);
}
.cover-text h1{
  font-family: 'Frunchy';
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 80px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}
 .cover-text h4 {
  font-family: 'Avenir';
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
#about .section-title {
  color: var(--yellow);
}
.section-text,
.section-text p {
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}
#about .section-text p {
  margin-bottom: 1.5em;
}
#about .section .section-image img{
  width: 100%;
}
.inner-about-section {
  position: relative;
}
.inner-about-section .text-box{
  width: calc(100% - 250px);
}
.inner-about-section .image {
  width: 220px;
}
.inner-about-section .text-box .text {
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: right;
}
.inner-about-section .text-box h3 {
  font-family: 'Span Compressed';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 30px;
  color: var(--yellow);
  text-align: center;
}

.inner-about-section .image {
  position: sticky;
  top: 120px;
}
.about-section-image {
  max-height: 100vh;
  overflow: hidden;
}

.above-title {
  font-size: 36px;
  font-style: italic;
  font-family: 'Span Compressed';
  color: var(--greenTitle);
}
.first-section-title {
  font-family: Frunchy;
  font-size: 110px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}
.first-section-text p{
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 1.5em;
}
.first-section-link {
  font-family: Satoshi;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  display: inline-block;
}
.first-section-link .underline-animation {
  width: 100%;
  background-color: var(--black);
}

#about .section-title {
  font-family: Span Compressed;
  font-size: 48px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0em;
  color: var(--green);
}
#about .text-box {
  max-width: calc(100% - 380px);
}
#about .text-box .text p {
  margin-bottom: 1.5em;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;

}
#about .image-box {
  width: 320px;
  border-radius: 28px;
  overflow: hidden;
}
#about .section-title {
  font-family: Span Compressed;
  font-size: 48px;
  font-weight: 200;
  line-height: 58px;
  letter-spacing: 0em;
}

/*   E X P E R I E N C E S   */
.experiences .cover-text {
  transform: translate(-50%, -100%);
}
.experiences .cover-image .overlay {
  background-color: rgba(0,0,0,0.05);
}
.experiences .experience-title {
  font-family: Span Compressed;
  font-size: 48px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--green);
  text-transform: uppercase;
}
.experiences .experience-text {
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.experiences .experience-text p {
  margin-top: 1.5em;
}
.experiences .enquire-now:hover {
  border-color: var(--black);
}

#experiences-bromley.experiences .cover-text {
  transform: translate(-50%, 50%);
}
#experiences-bromley.experiences .cover-image .overlay {
  background-color: rgba(0,0,0,0.5);
}

.experience-section-image {
  max-height: 100vh;
  overflow: hidden;
}

/* GALLERY */

.gallery .cover-image .overlay {
  background-color: rgba(0,0,0,0.05);
}
#gallery-bromley.gallery .cover-image .overlay {
  background-color: rgba(0,0,0,0.5);
}

.images_group {
  max-height: 1100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 27px;
  grid-row-gap: 27px;
  margin-top: 27px;
}
.images_group > div {
  overflow: hidden;
}
.images_group > div img {
  width: 100%;
  height: 100%;
}

.images_group.big-image-left > div:nth-child(1) { grid-area: 1 / 1 / 3 / 3; }
.images_group.big-image-left > div:nth-child(2) { grid-area: 1 / 3 / 2 / 4; }
.images_group.big-image-left > div:nth-child(3) { grid-area: 1 / 4 / 2 / 5; }
.images_group.big-image-left > div:nth-child(4) { grid-area: 2 / 3 / 3 / 5; }

.images_group.big-image-right > div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
.images_group.big-image-right > div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.images_group.big-image-right > div:nth-child(3) { grid-area: 2 / 1 / 3 / 3; }
.images_group.big-image-right > div:nth-child(4) { grid-area: 1 / 3 / 3 / 5; }

  


/*   E V E N T   S P A C E S   */
/* #event-spaces.grand-room */
#event-spaces .overlay {
  background-color: rgba(0,0,0,0.6);
}
#event-spaces .cover-image {
  background-position: bottom;
}
.text-below-cover p{
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 1.5em;
}
.room-card {
  background-color: var(--cardBackground);
  border-radius: 30px;
  padding: 40px 0;
}
.room-title {
  font-family: Span Compressed;
  font-size: 40px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--greenTitle);
}
.room-text {
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  min-height: 220px;
}
.room-image {
  overflow: hidden;
}
.room-image img {
  border-radius: 30px;
  width: 100%;
}
.room-card .section-text-info h4 {
  font-family: Satoshi;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  min-height: 56px;
}
.room-card .capacity-box .capacity-name {
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}
.room-card .capacity-box .capacity-number {
  background-color: var(--pageBackground); 
  font-family: 'Fruncky';
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  width: 84px;
  height: 64px;
}
.room-card .room-link {
  font-family: Satoshi;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  display: inline-block;
}
.room-link .underline-animation {
  height: 2px;
  width: 100%;
  background-color: var(--black);
}

.event-space-swiper .swiper-slide .image-box{
  position: relative;
  width: 100%;
  padding-top: 118%;
  /* or padding-bottom: 85%; if you want a vertical aspect ratio */
  overflow: hidden;
}
.event-space-swiper .swiper-slide .image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  border-radius: 30px;
  overflow: hidden;
}

.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal {
  bottom: 0px !important;
  top: unset !important;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: var(--green);
}
.swiper-pagination-progressbar {
  background: rgb(0, 0, 0, 0.1);
}

#imageBoxPopup {
  z-index: 1000;
}
#imageBoxPopupBox {
  height: 80vh;
  /* width: 95vh; */
  overflow: hidden;
}
#imageBoxPopupBox img{
  width: auto;
  height: 100%;
}




/*   C O N T A C T   */

.contact .overlay {
  background-color: rgba(0,0,0,0.05);
}
body.contact .section-text,
body.contact .section-text p {
  font-family: Span Compressed;
  font-size: 48px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--green);
}

.grand-room-form-container {
  transition: all .3s ease-in-out;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.grand-room-form-container .custom-bckg {
  background-color: var(--cardBackground);
  border-radius: 27px;
  transition: all .3s ease-in-out;
}
.grand-room-form-container input,
.grand-room-form-container textarea {
  width: 100%;
  padding: 6px 20px;
  resize: none;
  outline: none;
  background-color: #ECE8E2;
  color: #000;
  border-radius: 27px;
  font-family: Satoshi;
  font-size: 22px;
  line-height: 28px;
}
 .grand-room-form-container input::placeholder {
  color: rgba(0,0,0,0.5);
}
.grand-room-form-container .submit-form input[type="button"]  {
  width: auto;
}
.grand-room-form-container .custom-label {
  font-family: Satoshi;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;

}

.grand-room-form-container input[type='checkbox']{
  width: 40px;
  accent-color: #FFB800

}
.grand-room-form-container .enquire-now {
  font-size: 24px;
  line-height: 29px;
  padding: 8px 24px;
  background-color: var(--pageBackground);
}
.grand-room-form-container .enquire-now:hover {
  box-shadow: 0px 3px 0px black;
  transform: translateY(-2px);
}



/*  B R O M L E Y   E V E N T  S P A C E S   */

#event-spaces-bromley .section-text-info .capacity-number {
  width: 140px;
}
#event-spaces-bromley .enquire-now {
  border: 1px solid var(--black);
}
#event-spaces-bromley .enquire-now:hover {
  background-color: var(--white);
  color: var(--black);
  box-shadow: 0px 6px 0px black;
  transform: translateY(-4px);
}

.event-spaces-gallery .event-spaces-gallery-left{
  width: calc(56% - 0.5em);
}
.event-spaces-gallery .event-spaces-gallery-right{
  width: calc(44% - 0.5em);
}
.event-spaces-gallery .event-spaces-gallery-bottom {
  width: 100%;
}
.event-spaces-gallery .event-spaces-gallery-bottom img {
  height: 100%;
}
#event-spaces-bromley .room-text {
  min-height: auto;
}
#event-spaces-bromley .room-card .capacity-box .capacity-name {
  width: 8rem;
}

/*  B R O M L E Y   C O N T A C T  */
#contact-bromley h1 {
  color: var(--black);
}


/*  B R O M L E Y    A B O U T  */
#about-bromley .overlay {
  background-color: rgba(0,0,0,0.4);
}
#about-bromley .cover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#about-bromley .section:nth-child(1) p:nth-child(1) {
  margin-bottom: 1.5em;
}
#about-bromley .artist-text {
  width: calc(100% - 430px);
}
#about-bromley .artist-image {
  width: 390px;
}


















@media (max-width: 450px) {
  .container, 
  .custom-container {
    padding: 0 16px;
  }
  .custom-container {
    width: 100%;
  }
  .header-logo {
    width: 50px;
  }

  /*  MOBILE NAV */
  #mobileMenu {
    position: fixed;
    z-index: 100;
    inset: 0;
    width: 100vw;
    left: 110vw;
    background-color: #000000;
    color: var(--white);
    opacity: 0;
    transition: all .5s ease-in-out;
  }
  #mobileMenu.menu--opened {
    left: 0;
    opacity: 1;
  }
  body.white #mobileMenu {
    background-color: white;
    color: var(--black);
  }
  body.white.custom-white #mobileMenu {
    background-color: #F5F5F5;
  }

  .nav-toggle {
    width: 32px;
    margin-right: 4px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10000;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-toggle--closed {
    width: 32px;
    height: 25px;
  }

  #mobileMenu .mobile-menu-item {
    font-size: 24px;
    padding: 6px 0;
    margin-bottom: 8px;
    text-transform: uppercase;
  }
  #mobileMenu .mobile-menu-item.submenu {
    padding-left: 32px;
  }

  #mobileMenu .mobile-menu-item.submenu .mobile-menu-item {
    font-size: 18px;
    padding: 6px 0;
    margin-bottom: 8px;
    text-transform: uppercase;
  }
  header.site-header .enquire-now {
    display: none;
  }
  
  .close-nav {
    top: 20px;
    left: 20px;
  }
  .close-nav .icon {
    width: 36px;
  }
  .navigation .menu-item a {
    font-size: 28px;
    line-height: 28px;
    margin: 8px 0;
  }

  .burger-line {
    height: 3px;
    width: 36px;
  }
  .burger-line:nth-child(2){
    margin: 8px 0;
  }

  #imageBoxPopupBox {
    height: 80vw;
    width: 90vw;
    overflow: hidden;
  }
  #imageBoxPopup #closePopup {
    top: 4px;
    right: 4px;
  }


  /*   L A N D I N G   */
  #landing .landing-box {
    height: 50%;
  }
  #landing .landing-box a {
    width: 100%;
  }
  #landing-lk-hospitality-logo {
    top: 50%;
  }
  #landing-lk-hospitality-logo img {
    width: 60px;
  }
  #landing .landing-box img {
    width: 50%;
  }
  #landing #landing-broomly img {
    width: 50%;
  }
  #landing .landing-box:hover {
    width: 100%;
  }
  #landing .landing-box .overlay {
    background-color: rgb(0, 0, 0, 0.6);
  }
  #landing .landing-box img {
    opacity: 1 !important;
  }
  #landing #landing-grand-room.landing-box img{
    width: 160px;
    margin-left: auto;
    margin-right: 40px;
  }
  #landing #landing-broomly.landing-box img{
    width: 240px;
    margin-left: 40px;
    margin-right: auto;
  }



  /*   A B O U T   */

  #about .cover-text {
    width: 100%;
  }
  #about .cover-text h1 {
    font-size: 60px;
    line-height: 60px;
  }

  .section-title {
    font-size: 40px;
    line-height: 40px;
  }
  .section-text, .section-text p,
  .inner-about-section .text-box .text {
    font-size: 18px;
    line-height: 24px;
  }
  #about .text-box {
    width: 100%;
    max-width: 100%;
  }
  .above-title {
    font-size: 28px;
  }
  .first-section-title {
    font-size: 56px;
    line-height: 60px;
  }
  #about .section-title {
    font-size: 40px;
    line-height: 48px;
  }
  #about .custom-container {
    padding: 0;
  }
  #about .image-box {
    width: 100%;
  }
  #about .text-box .text p {
    text-align: left;
  }

  /*   E X P E R I E N C E S   */
   .cover-text h1 {
    font-size: 60px;
    line-height: 60px;
  }


  /*  S I N G L E  E X P E R I N C E   */
  body.experience {
    padding-top: 140px;
  }
  body.experience h1 {
    font-size: 48px;
    line-height: 48px;
  }
  body.experience #grand-room-header .inbetween-line, 
  body.experience #broomly-header .inbetween-line {
    margin-top: 10px;
  }
  body.experience #grand-room-header, 
  body.experience #broomly-header {
    padding: 16px 0 0;
  }


  body.experience .enquire-now {
    padding: 8px 32px;
    font-size: 24px;
  }

  #grand-room-header .experiences-nav a, 
  #broomly-header .experiences-nav a {
    font-size: 24px;
    margin: 0 16px 0 0;
  }

  body.experience .experience-gallery .experience-gallery-image-box:nth-child(3n+1){
    width: 100%;
  }
  body.experience .experience-gallery .experience-gallery-image-box:nth-child(3n+2){
    width: 100%;
  }
  body.experience .experience-gallery .experience-gallery-image-box:nth-child(3n+3){
    width: 100%;
  }
  body.experience .experience-gallery .experience-gallery-image-box img{
    transition: none
  }
  body.experience .experience-gallery .experience-gallery-image-box img:hover {
    transform: scale(1);
  }



  #grand-room-header, #broomly-header {
    padding: 24px 0;
  }
  /*  E V E N T   S P A C E S */
  #event-spaces-grand-room {
    padding-top: 160px;
  }
  #event-spaces-grand-room .enquire-now {
    padding: 8px 32px;
    font-size: 24px;
    line-height: 30px;
  }
  .section-text-info .capacity-name {
    font-size: 18px;
    line-height: 26px;
  }
  .section-text-info .capacity-number {
    width: 100px;
    height: 50px;
    font-size: 36px;
    line-height: 40px;
  }

  .text-below-cover p {
    font-size: 18px;
    line-height: 25px;
  }
  .room-title {
    line-height: 48px;
  }
  .room-text {
    font-size: 18px;
  }
  .room-card .capacity-box .capacity-number {
    border: 1px solid var(--black);
    height: 52px;
  }
  .room-card {
    padding: 40px 0 20px;
  }
  .room-card .section-text-info h4 {
    font-size: 22px
  }



  /*  C O N T A C T  */
  
  body.contact .section-text, body.contact .section-text p {
    font-size: 28px;
    line-height: 30px;
  }
  .grand-room-form-container {
    padding: 0 16px;
    margin-bottom: 80px;
  }
  .grand-room-form-container .btn {
    line-height: 28px;
  }

  .animated-line {
    animation: loadLine 1.3s ease-out forwards;
  }
  .grand-room-form-container .custom-label {
    margin-bottom: 8px
  }
  .grand-room-form-container textarea {
   height: 10em;
  }
  .grand-room-form-container input, 
  .grand-room-form-container textarea {
    font-size: 18px;
    padding: 8px 20px;
    border: 1px solid var(--black);
  }




  /*  B R O M L E Y */
  #about-bromley .cover-text {
    position: absolute;
    bottom: 50px;
    top: unset;
    left: 50%;
    transform: translateX(-40%);
  }
  #about-bromley .artist-text, 
  #about-bromley .artist-image {
    width: 100%;
  }

  #experiences-bromley h1 {
    font-size: 44px;
    line-height: 48px;
    letter-spacing: 0px;
  }



  .event-spaces-gallery .event-spaces-gallery-left{
    width: 100%
  }
  .event-spaces-gallery .event-spaces-gallery-right{
    width: 100%
  }
  .event-spaces-gallery .event-spaces-gallery-bottom {
    width: 100%;
  }
  .event-spaces-gallery .event-spaces-gallery-bottom img {
    height: 100%;
  }



  /* GALERY */
  .gallery .images_group {
    display: flex;
    flex-direction: column;
    grid-template-columns: unset;
    max-height: none;
  }

  .images_group > div {
    /* overflow: visible; */
  }

}

@media (min-width: 450px) and (max-width: 1240px) {
  .custom-container, .container {
    padding: 0 16px;
  }
  #grand-room-header .menu-item, #broomly-header .menu-item {
    margin: 0;
  }

  #experiences-grand-room .experience-box h2, 
  #experiences-bromley .experience-box h2 {
    font-size: 32px;
    line-height: 40px;
  }
  #experiences-grand-room h1, #experiences-bromley h1 {
    font-size: 56px;
    line-height: 64px;
  }
  body.experience .enquire-now {
    padding: 8px 32px;
    font-size: 24px;
  }
  body.experience h1 {
    font-size: 64px;
  }
  body.experience .bottom-cta {
    margin-top: 4rem;
  }
  .section-text-info .capacity-name {
    font-size: 18px;
    line-height: 26px;
  }
  .section-text-info .capacity-number {
    width: 100px;
    height: 50px;
    font-size: 36px;
    line-height: 40px;
  }
  #event-spaces-grand-room .enquire-now,
  #event-spaces-bromley .enquire-now {
    padding: 8px 32px;
    font-size: 24px;
    line-height: 30px;
  }
}