<footer class="mb-12 sm:mb-10">
  <div class="inbetween-line mb-12 sm:mb-10"></div>
  <div class="container mx-auto">
    <ul class="sm:h-auto flex gap-x-4 flex-col md:flex-row footer-list little-font sm:flex sm:justify-between wrapper">
      <li class="instagram-footer mb-5 w-full sm:w-auto flex reveal">
        <a class="flex items-start" href="https://www.instagram.com/lkhevents/" target="_blank">
          <img src="/img/instagram.svg" alt="instagram icon" class="mr-2">
          <a href="https://www.instagram.com/lkhevents" target="_blank">
            lkhevents
            <div class="underline-animation"></div>
          </a>
        </a>
      </li>
      <li class="mb-5 reveal">
        617 Chapel Street
        <br>
        South Yarra
      </li>
      <li class="mb-5 w-1/2 sm:w-auto">
        <div>
          <a href="mailto:events@lkhospitality.com.au" class="inline-block reveal">
            events@lkhospitality.com.au
            <div class="underline-animation"></div>
          </a>
        </div>
        <div>
          <a href="tel:0380808080" class="inline-block reveal">
            03 8080 8080
            <div class="underline-animation"></div>
          </a>
        </div>
      </li>
      <li class="mb-5 reveal">
        Copyright 2023&#174 LK Hospitality
        <br>
        Powered by
        <a href="https://www.morphnetworks.com" class="inline-block">
          Morph
          <div class="underline-animation"></div>
        </a>
      </li>
    </ul>
  </div>

</footer>

<script src="/js/swiper.js"></script>
<script src="/js/scrollreveal.js"></script>
<script src="/js/reaveal.js"></script>
<script src="/js/main.js" type="module"></script>