<header id="broomly-header" class="site-header">
  <div class="px-4 lg:px-40 mx-auto flex items-start md:items-center justify-between">
    <div class="header-logo">
      <a href="/">
        <img src="/assets/images/LK-Hospitality-Logo-white.png" alt="Logo">
      </a>
    </div>
    <div class="flex items-center justify-between mt-2 mr-3 md:mt-0 md:mr-0">
      <a href="/bromley/contact/" class="enquire-now">
        Enquire now
      </a>
      <div class="nav-toggle cursor-pointer p-2">
        <div class="burger-line"> </div>
        <div class="burger-line"> </div>
        <div class="burger-line"> </div>
    </div>
  </div>
</header>

<nav class="navigation flex items-center justify-center hidden">
  <div class="close-nav absolute">
    <div class="icon"></div>
  </div>
  <ul>
    <li class="menu-item">
      <a href="/bromley/about">
        <div>
          About
          <div class="underline-animation"></div>
        </div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/bromley/event-spaces">
        <div>
          Bromley Gallery
          <div class="underline-animation"></div>
        </div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/bromley/experiences">
        <div>
          Experiences
          <div class="underline-animation"></div>
        </div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/bromley/gallery">
        <div>
          Gallery
          <div class="underline-animation"></div>
        </div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/bromley/contact">
        <div>
          Contact
          <div class="underline-animation"></div>
        </div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/about">
        <div>
          The Grand Room
          <div class="underline-animation"></div>
        </div>
      </a>
    </li>
  </ul>
</nav>