{% assign current_page = page.current_page %}

{% include head.html %}
{% include header/bromley-header.html %}


<section id="about-cover" class="cover-image mb-12 md:mb-24" style="background-image: url('{{page.cover_image}}');">
  <div class="overlay"></div>
  <div class="cover-text">
    <img src="/assets/images/Bromley Events Logo.png" alt="Bromley Events Logo">
  </div>
</section>

<main class="mb-16">
  <div class="section mb-32">
    <div class="custom-container mx-auto">
      <h1 class="section-title reveal"> {{ page.events_title }} </h1>
      <div class="inbetween-line my-6"></div>
      <div class="section-text reveal">
        {{ page.events_text | markdownify}}
      </div>
    </div>
  </div>
  <div class="section mb-20 md:mb-32">
    <div class="custom-container mx-auto">
      <div class="flex flex-col md:flex-row gap-12 items-start justify-between">
        <div class="artist-text">
          <h2 class="section-title reveal"> {{ page.artist }} </h2>
          <div class="inbetween-line my-6"></div>
          <div class="section-text reveal"> {{ page.artist_text | markdownify }} </div>
        </div>
        <div class="artist-image">
          <img src="{{page.artist_image}}" alt="{{page.artist}}">
        </div>
      </div>
    </div>
  </div>


</main>


{% include footer.html %}
