{% assign current_page = page.current_page %}

{% include head.html %}

{% if page.main_space_group == 'The Grand Room' %}
  {% include header/grand-room-header.html %}
{% else %}
  {% include header/bromley-header.html %}
{% endif %}


<section id="experience-cover" class="cover-image" style="background-image: url('{{page.cover_image}}');">
  <div class="overlay"></div>
  <div class="cover-text relative">
    <h1>{{page.page_title | markdownify  }}</h1>
  </div>
</section>

<main class="mb-16">
  <div id="contact-form-cta" class="section mb-12 md:mb-20 mt-12 md:mt-20">
    <div class="custom-container mx-auto">
      <h1 class="section-title custom-yellow reveal"> {{ page.page_title }} </h1>
      <div class="section-text reveal text-center my-4">
        {{ page.text_below_page_title | markdownify}}
      </div>
    </div>
  </div>

  <div class="mb-10 md:mb-20 grand-room-form-container reveal">
    <form action="https://formsubmit.co/9c71fef3575c9c777ec5a1e62343e486" target="_blank" method="POST" class="flex flex-col mt-auto">
      <div class="custom-bckg px-4 py-10 md:p-20">
        <div class="flex flex-col md:flex-row items-start justify-center mb-4">
          <div class="w-full md:w-1/3 custom-label">Name:</div>
          <div class="w-full md:w-2/3">
            <input type="text" name="name" class="form-control" placeholder="Your Full Name" required>
          </div>
        </div>
        <div class="flex flex-col md:flex-row items-start justify-center mb-4">
          <div class="w-full md:w-1/3 custom-label">Phone Number:</div>
          <div class="w-full md:w-2/3">
            <input type="text" name="phone" class="form-control" placeholder="Your Phone Number" required>
          </div>
        </div>
        <div class="flex flex-col md:flex-row items-start justify-center mb-4 md:mb-10">
          <div class="w-full md:w-1/3 custom-label">Email:</div>
          <div class="w-full md:w-2/3">
            <input type="email" name="email" class="form-control" placeholder="Your Email" required>
          </div>
        </div>
        <div class="flex flex-col md:flex-row items-start justify-center mb-4 mt-10">
          <div class="w-full md:w-1/3 custom-label">Date of Event:</div>
          <div class="w-full md:w-2/3">
            <input id="dateInput" type="date" name="date" class="form-control" required>
          </div>
        </div>
        <div class="flex flex-col md:flex-row items-start justify-center mb-4">
          <div class="w-full md:w-1/3 custom-label">Additional information:</div>
          <div class="w-full md:w-2/3">
            <textarea id="dateInput" type="date" name="message" placeholder="dd-mm-yyyy" class="form-control" rows="3" maxlength="320"> </textarea>
          </div>
        </div>
        <div class="flex flex-col md:flex-row items-start justify-center">
          <div class="hidden md:block md:w-1/3 custom-label">&nbsp;</div>
          <div class="w-full md:w-2/3 flex flex-col md:flex-row items-center justify-between">
            <div>
              <input type="checkbox" id="recive-emails" name="Receive email updates">
              <label for="recive-emails">Receive email updates of our latest offers</label>
            </div>
            <div class="submit-form reveal mt-8 mb-6 md:mt-0 md:mb-0">
              <button class="enquire btn-submit enquire-now" type="submit">Enquire Now </button>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 md:mt-10 flex flex-col-reverse md:flex-row justify-end items-center">
        <!-- <a class="btn" href="/brochure/The Grand Room Brochure May 2023 - DIGI.pdf" download> 
          Download Brochure
        </a> -->
      </div>

      <input type="hidden" name="_subject" value="The Grand Room Form Submission!">
      <input type="hidden" name="_next" value="https://www.lkhevents.com.au/brochure/The Grand Room Brochure May 2023 - DIGI.pdf">
    </form>      
  </div>

  <div class="grand-room-form-container">
    <div class="section-text text-center mt-4 mb-8 reveal ">
      {{ page.title_above_map }}
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3424.2056194964603!2d144.9951379525497!3d-37.838955703130146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad64283405ac7db%3A0x7aa1d3d39ecb501d!2zNjI1IENoYXBlbCBTdCwgU291dGggWWFycmEgVklDIDMxNDEsINCQ0YPRgdGC0YDQsNC70LjRmNCw!5e0!3m2!1ssr!2srs!4v1687969390211!5m2!1ssr!2srs" width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</main>


{% include footer.html %}