{% assign current_page = page.current_page %}

{% include head.html %}
{% include header/grand-room-header.html %}


<main class="mb-16">
  <div class="section mb-32">
    <div class="custom-container mx-auto">
      <h1 class="section-title custom-yellow reveal"> {{ page.page_title }} </h1>
      <div class="inbetween-line my-6"></div>
      <div class="section-text reveal text-center">
        {{ page.text_below_page_title | markdownify}}
      </div>
    </div>
  </div>

  {% for room in page.list_of_rooms %}
    <div class="room-section section mb-20 md:mb-32">
      {% if forloop.index != 2 %}
        <div class="custom-container mx-auto">
          <h2 class="section-title md:text-right custom-yellow reveal"> {{ room.room_name }} </h2>
          <div class="flex justify-start md:justify-end">
            <div class="inbetween-line my-6"></div>
          </div>
          <div class="section-text md:text-right reveal"> {{ room.room_text | markdownify }} </div>

          <div class="room-section-container flex flex-col md:flex-row items-center justify-between mt-8 md:mt-16">
            <div class="section-text-info w-full md:w-1/2 mr-0 md:mr-8">
              {% if room.whole_space_capacity_title %}
                <h4 class="text-center mt-6 reveal">{{room.whole_space_capacity_title}}</h4>
                <div class="flex items-center justify-center reveal">
                  {% for item in room.whole_space_capacity_items %}
                    <div class="capacity-box m-2 md:m-4">
                      <div class="capacity-name mb-3">{{ item.name }}</div>
                      <div class="capacity-number flex items-center justify-center">{{ item.number }}</div>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
              {% if room.divided_space_capacity_title %}
                <h4 class="text-center mt-6 reveal">{{room.divided_space_capacity_title}}</h4>
                <div class="flex items-center justify-center reveal">
                  {% for item in room.divided_space_capacity_items %}
                    <div class="capacity-box m-2 md:m-4 reveal">
                      <div class="capacity-name">{{ item.name }}</div>
                      <div class="capacity-number flex items-center justify-center">{{ item.number }}</div>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="section-image mt-8 md:mt-0 w-full md:w-1/2">
              <img src="{{ room.room_image }}" alt="Event Spaces {{ room.room_name }}" class="reveal">
            </div>
          </div>
        </div>
      {% else %}
      <!-- THE CHAPEL ROOM -->
      <!-- Second room should be reverse -->
        <div class="custom-container mx-auto">
          <h2 class="section-title text-left custom-yellow reveal"> {{ room.room_name }} </h2>
            <div class="inbetween-line my-6"></div>
          <div class="section-text text-left reveal"> {{ room.room_text | markdownify }} </div>

          <div class="room-section-container flex flex-col md:flex-row-reverse items-center justify-between mt-8 md:mt-16">
            <div class="section-text-info w-full md:w-1/2 ml-0 md:ml-8">
              {% if room.whole_space_capacity_title %}
                <h4 class="text-center mt-4 reveal">{{room.whole_space_capacity_title}}</h4>
                <div class="flex items-center justify-center reveal">
                  {% for item in room.whole_space_capacity_items %}
                    <div class="capacity-box m-2 md:m-4">
                      <div class="capacity-name mb-3">{{ item.name }}</div>
                      <div class="capacity-number flex items-center justify-center">{{ item.number }}</div>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
              {% if room.divided_space_capacity_title %}
                <h4 class="text-center mt-6 reveal">{{room.divided_space_capacity_title}}</h4>
                <div class="flex items-center justify-center reveal">
                  {% for item in room.divided_space_capacity_items %}
                    <div class="capacity-box m-2 md:m-4 reveal">
                      <div class="capacity-name">{{ item.name }}</div>
                      <div class="capacity-number flex items-center justify-center">{{ item.number }}</div>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="section-image mt-8 md:mt-0 w-full md:w-1/2">
              <img src="{{ room.room_image }}" alt="Event Spaces {{ room.room_name }}" class="reveal">
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  {% endfor %}

  <div class="bottom-cta mt-20 md:mt-32 mb-24 reveal">
    <div class="flex items-center justify-center">
      <a href="{{page.button_link}}" class="enquire-now"> {{ page.button_text }} </a>
    </div>
  </div>
</main>


{% include footer.html %}