{% assign current_page = page.current_page %}

{% include head.html %}

{% if page.header == 'grand_room' %}
  {% include header/grand-room-header.html %}
{% else %}
  {% include header/bromley-header.html %}
{% endif %}


<section id="experience-cover" class="cover-image" style="background-image: url('{{page.cover_image}}');">
  <div class="overlay"></div>
  <div class="cover-text relative">
    <h1>{{page.page_title | markdownify  }}</h1>
  </div>
</section>

<main class="px-4 md:px-0">
  {% for experience in page.experiences %}
  {% assign index = forloop.index0 | modulo: 2 %}

    {% if index == 0 %}
      <div class="flex flex-col-reverse md:flex-row items-center justify-between">
        <div class="w-full md:w-1/2 experience-section-image mb-8 md:mb-0"> <!-- reveal-left -->
    {% else %}
      <div class="flex flex-col-reverse md:flex-row-reverse items-center justify-between"> 
        <div class="w-full md:w-1/2 experience-section-image mb-8 md:mb-0"> <!-- reveal-right -->
    {% endif %}
        <img class="w-full" src="{{experience.img}}" alt="{{ experience.title }}">
      </div>
      <div class="w-full md:w-1/2 flex items-center justify-center my-16 md:my-0">
        <div class="p-0 md:px-24">
          <h2 class="experience-title mb-10 reveal">{{ experience.title }}</h2>
          <div class="experience-text mb-16 reveal">{{ experience.text | markdownify }}</div>
          {% if experience.button_text %}
            <div class="text-center reveal">
              <a href="{{experience.button_link}}" class="enquire-now">
                {{ experience.button_text}}
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</main>






{% include footer.html %}
